*{
   margin:0 ;
   padding:0;
   box-sizing: border-box;
   color: azure;
   font-family:" Poppins",sans-serif;
}
body{
    background-color: whitesmoke;
box-sizing: border-box;
font-size:large ;
display: flex;
flex-direction: column;
height:1200px}
main{
    align-items: center;
    height:1000px;
}

header{
    height:100px;
    background-color:#154D71;
    font-size: large;
    font-weight: 500;
    text-align: center;
    align-items: center;
 
}